---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import kaffebonner from "../assets/images/kaffebonner.jpg";
import kaffekop from "../assets/images/kaffekop.jpg";
import filterkaffe from "../assets/images/filterkaffe.jpg";

const schemamarkup = {
     
}
---

<MainLayout 
title="Kaffe"
description="Kaffe er en populær drik rundt om i verden, og det er kendt for sin effekt på grund af koffeinindholdet. Her er nogle interessante punkter om kaffe" 
>
	<article class="grid mx-auto container gap-8 pt-8 prose">
        <h1>Fra Bønne til Bryg - Kaffens Kunst</h1>
        
<p>Vores kaffeforbrug er et tydeligt bevis på, at kaffen er en højtelsket drik og at Danmark er et rigtigt kaffeland. I dag drikker danskerne nemlig 4,2 milliarder kopper kaffe om året. Vi nyder kaffe hvor som helst, når som helst og på alle mulige måder. Om morgenen, eftermiddagen, inden sengetid. Derhjemme, på arbejdet, på farten, på caféen eller når vi er på besøg hos gode venner. Vi nyder alle former for kaffe som for eksempel kraftige espressoshot, Americano, Cortado og lækre mælkevarianter som Cappuccino eller latte.</p>

        <Image src={kaffebonner} alt="kaffebonner" />

        <hr>

        <h2>Koffeinens Balance: Fordele og Ulemper ved Kaffeforbrug</h2>

        <ul>
            <p>Fordele</p>
            <li>Koffein i kaffe virker som en naturlig stimulant, der kan øge opmærksomheden og forbedre koncentrationen. Dette gør kaffe til en populær drik under arbejde eller studier.</li>
            <li>Kaffe fungerer ofte som en social smøremiddel og er en integreret del af mange kulturer. Møder over en kop kaffe giver mennesker en chance for at dele ideer og styrke relationer.</li>
            <li>Moderat kaffeforbrug er blevet associeret med visse sundhedsmæssige fordele, såsom nedsat risiko for visse sygdomme som Parkinsons og type 2-diabetes.</li>
        </ul>

        <ul>
             <p>Ulemper</p>
            <li>Overdreven kaffedrikning kan føre til søvnforstyrrelser, nervøsitet og andre bivirkninger på grund af koffeinen. Det er vigtigt at overveje ens toleranceniveau.</li>
            <li>Kaffeproduktion har ofte negative miljømæssige konsekvenser, såsom skovrydning og brug af store mængder vand og pesticider. Bæredygtige dyrkningsmetoder og fair trade-initiativer er nødvendige for at tackle disse udfordringer.</li>
            <li>Nogle mennesker kan udvikle afhængighed af koffein, hvilket kan føre til tilbagetrækningssymptomer som hovedpine og irritabilitet, hvis de reducerer deres kaffeforbrug.</li>
        </ul>

        <Image src={kaffekop} alt="kaffekop" />

        <hr>

        <h2>Kaffens historie</h2>

        <p>Kaffe stammer fra Etiopien, og de første historier om kaffeplanten stammer helt tilbage til det 9. århundrede. Her fik hyrden Kaldi travlt med at holde styr på sine geder, som var blevet helt euforiske, efter at have spist bærrene fra en kaffeplante. Senere begyndte etiopierne at tygge på kaffebærrene for at opnå samme effekt – der skulle dog gå flere hundrede år, inden man opdagede, at kaffeplantens bær kunne blive til en varm og velsmagende drik.</p>

        <p>I dag dyrkes og produceres den globalt. Når du handler kaffe i supermarkedet, er det sandsynligt, at den stammer fra Syd- eller Mellemamerika. Dette område tegner sig nemlig for cirka 60 % af verdens kaffeproduktion, og de primære bøndeområder inkluderer Brasilien, Colombia og Guatemala.</p>

        <hr>

        <Image src={filterkaffe} alt="filterkaffe" />

        <h2>Hvornår kom kaffen til Danmark?</h2>

        <p>
 Der gik mere end 40 år fra hollændere smuglede kaffen ud af Yemen og til den første kop kaffe kunne nydes i Danmark. Vi skal tilbage 1660’erne for at finde de første nyheder om kaffe i Danmark.
        </p>

        <p>Der gik nogle år fra kaffe blev importeret og til den blev folkeeje i Danmark. Frem til 1730’erne var kaffe forbeholdt det bedre borgerskab og var især et populært supplement til eftermiddagsteen på præste- og herregårde. Herefter blev drikken udbredt til andre samfundsklasser, men det var først i slutningen af 1800-tallet, at kaffe blev en vare, selv bønderne havde råd til.</p>

        <p>Fun Fact, danskerne foretrækker filterkaffe <br> En undersøgelse fra 2017 viser, at 52 % af danskerne foretrækker filterkaffe, mens 15 % foretrækker stempelkaffe. På 3-5. pladsen er henholdsvis kapselkaffe, pulverkaffe og kaffe fra en espressomaskine.</p>
        <hr>

    </article>
</MainLayout>

<script type="application/ld+json" set:html={JSON.stringify(schemamarkup)}></script>